<!DOCTYPE html>
<html lang="en">
  <head>
    <%= display_meta_tags site: 'Interstartas' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#FFFFFF"/>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= javascript_importmap_tags %>
    <%= javascript_include_tag "turbo", type: "module" %>
  </head>
  <body>
    <%= render partial: "shared/navbar" %>

    <div class="container">
      <%= render partial: "shared/flash" %>
      <%= yield %>
    </div>
  </body>
</html>
